
.itemContainer{
    display: flex;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;

    width: 80vw;
    
    justify-content: space-between;
}

.itemCard{
    display: flex;
    gap: 10px;
    max-width: 70%;
   
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;

    max-height: 70px;
    max-width: 70px;  
    min-height: 70px;
    min-width: 70px;

    border: 1px solid lightgray;
    border-radius: 5px;

    img {
        max-height: 80px; 
    }
}

.buttonContainer {
    align-items: flex-end;
    align-self: flex-end;
    justify-content: flex-end;
}