.formContainer * {
    box-sizing: border-box;
}

.mainContainer {
    width: 50vw;
    margin: auto;
    text-align: center;
}

.formContainer form {
    background-color: white;
    padding: 40px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    width: 50vw;
    margin: auto;
        
    display: flex;
    flex-direction: column;
    align-items: center;

 
}

.inputContainer {
    margin: 0px 0 10px 0;
    display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 300px;
        input {
            font-size: 18px;
            text-align: center;
        }
    
}

.formContainer form button {
    margin-top: 20px;
    padding: 10px;
    max-height: 80px;
    align-self: center;
    border-radius: 5px;
    background-color: rgb(229, 181, 36);
    color: white;
    cursor: pointer;
    border: none;
    width: 100%;
}

.formFooter {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    p {
        margin: 0;
    }
}
